.row {
    display: flex;
    margin:30px 0px;
    justify-content: space-between;
}

.addressContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.addresses {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formular {
    margin: 100px auto 50px auto;
    width: 500px;
}

@media (max-width: 550px) {
    .formular {
      width: calc(100vw - 50px);
    }
  }

@media (max-width: 750px) {
    .addressContainer {
        flex-direction: column;
        gap: 20px;
    }
    .map {
        width: 100%;
    }
    .formular {
        margin-top: 75px;
    }
  }