.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
    background-color: #25282a;
    flex-wrap: wrap;
}

.content {
    display: flex;
    gap: 20px;
    max-width: 1280px;
    /* margin-left: auto;
    margin-right: auto; */
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 465px) {
    .footer {
        height: 5rem;
    }
}