.main {
  padding-bottom: 2.5rem;
  max-width: 1200px;
  margin: 20px auto 0px auto;
  margin-top: 30px;
} 

 .texth2 {
  margin: 20px 0px;
 }

 .welcome {
  font-size: 1.125rem;
  line-height: 2rem;
 }

 .textp {
  margin-bottom: 5px;
 }

 .grid {
  margin: 20px 0px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
