.image-container {
    position: relative;
    width: 700px;
    height: 500px;
    border: 2px solid #fd7800;
    border-radius: 50px;
    /* border-top-left-radius: 150px;
    border-bottom-right-radius: 150px; */
    overflow: hidden;
}

.image {
    object-fit: cover;
}

.center {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.textbox {
    display: flex;
    background-color: #fd7800;
    border-radius: 50px;
    text-align: center;
    /* border-top-left-radius: 150px;
    border-bottom-right-radius: 150px; */
    max-width: 800px;
    color: black;
    font-style: italic;
    padding: 15px;
    overflow: hidden;
}

.last-quote {
    align-self: flex-end;
}

.title {
    color: #fd7800;
}